 .container{
    background-color: rgb(0, 255, 30);
    display: flex;
    justify-content: baseline;
    align-items: center;
    flex-direction: row;
}
.item{
    display: flex;
    justify-content: center;
    height: 300px;
    width: 300px;
    background-color: rgb(0, 0, 0);
    margin: 5px;
    align-items: center;
    color: aliceblue;

   
}
h1{
   display: flex;
   justify-content: center;
   font-size: 80px;
   
   
}
.container2{
    background-color: rgb(0, 255, 0);
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: row;
}
.item2{
    display: flex;
    justify-content: center;
    height: 300px;
    width: 300px;
    background-color: rgb(0, 0, 0);
    margin: 5px;
    align-items: center;
    color: aliceblue;
}
.container3{
    background-color: rgb(0, 255, 34);
    display: flex;
    justify-content: end;
    align-items: end;
    flex-direction: row;
}
.item3{
    display: flex;
    justify-content: center;
    height: 300px;
    width: 300px;
    background-color: rgb(0, 0, 0);
    margin: 5px;
    align-items: center;
    color: aliceblue;
}
.container4{
    background-color: rgb(0, 255, 42);
    display: flex;
    justify-content: baseline;
    align-items: baseline;
    flex-direction: column;
}
.item4{
    display: flex;
    justify-content: center;
    height: 300px;
    width: 300px;
    background-color: rgb(0, 0, 0);
    margin: 5px;
    align-items: center;
    color: aliceblue;
}
.container5{
    background-color: rgb(4, 255, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.item5{
    display: flex;
    justify-content: center;
    height: 300px;
    width: 300px;
    background-color: rgb(0, 0, 0);
    margin: 5px;
    align-items: center;
    color: aliceblue;
}
.container6{
    background-color: rgb(0, 255, 34);
    display: flex;
    justify-content: end;
    align-items: end;
    flex-direction: column;
}
.item6{
    display: flex;
    justify-content: center;
    height: 300px;
    width: 300px;
    background-color: rgb(0, 0, 0);
    margin: 5px;
    align-items: center;
    color: aliceblue;
}
.container7{
    background-color: rgb(0, 255, 47);
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: row;
}
.item7{

    display: flex;
    justify-content: center;
    height: 300px;
    width: 300px;
    background-color: rgb(0, 0, 0);
    margin: 5px;
    align-items: center;
    color: aliceblue;
}
.container8{
    background-color: rgb(0, 255, 17);
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: row;
}
.item8{
    display: flex;
    justify-content: center;
    height: 300px;
    width: 300px;
    background-color: rgb(0, 0, 0);
    margin: 5px;
    align-items: center;
    color: aliceblue;
}
.container9{
    background-color: rgb(0, 255, 26);
    display: flex;
    justify-content: start;
    flex-direction: row;
}
.item9{
    display: flex;
    justify-content: center;
    height: 300px;
    width: 300px;
    background-color: rgb(0, 0, 0);
    margin: 5px;
    align-items: center;
    color: aliceblue;
}
.container10{
    background-color: rgb(0, 255, 51);
    display: flex;
    justify-content: baseline;
    align-items: end;
    flex-direction: row;
}
.item10{
    display: flex;
    justify-content: center;
    height: 300px;
    width: 300px;
    background-color: rgb(0, 0, 0);
    margin: 5px;
    align-items: center;
    color: aliceblue;
}
.container11{
    background-color: rgb(9, 255, 0);
    display: flex;
    justify-content: end;
    align-items: end;
    flex-direction: row;
}
.item11{
    display: flex;
    justify-content: center;
    height: 300px;
    width: 300px;
    background-color: rgb(0, 0, 0);
    margin: 5px;
    align-items: center;
    color: aliceblue;
}
.container12{
    background-color: rgb(0, 255, 26);
    display: flex;
    justify-content: end;
    align-items: end;
    flex-direction: row;
}
.item12{
    display: flex;
    justify-content: center;
    height: 300px;
    width: 300px;
    background-color: rgb(0, 0, 0);
    margin: 5px;
    align-items: center;
    color: aliceblue;
}

